@model AMorfar_MVC.Models.Pedido 

@{
    ViewData["Title"] = "Crear pedido";

}

<div class="container my-5">
    @if (ViewBag.Response != null) // esta validacion existe porque si viene del metodo GET, va a estar vacio y no queremos dibujar nada de notificaciones. Ademas el viewbag va a estar null y romperia todo.
    {
        // si viene un boolean false, es porque hubo un error y el cartel sale rojo (estilos de la calse alert-danger), si viene true es un success.
        string status = ViewBag.Response.Status ? "alert-success" : "alert-danger";

        <div class="alert @status">
            <strong>Pedido</strong> @ViewBag.response.Message ! <a asp-action="Index" asp-controller="Pedidos">Volver</a>
        </div>
    }
    <h1 class="text-center mb-4">Crear Nuevo Pedido</h1>
    <div class="row justify-content-center">
        <div class="card shadow-sm">
            <div class="card-body">
                <form id="pedidoForm" method="post" enctype="multipart/form-data" asp-controller="Pedidos" asp-action="Crear"> <!-- invoca al metodo Crear de PedidosController... pero como es un llamado de tipo POST, es el que tiene el annotation [HttpPost] -->
                    <div class="mb-3">
                        <label for="Titulo" class="form-label">Titulo</label>
                        <input type="text" class="form-control" id="Titulo" name="Titulo" placeholder="Cena de amigos..." required>
                    </div>

                    <div class="mb-3">
                        <label for="Lugar" class="form-label">Lugar</label>
                        <input type="text" class="form-control" id="Lugar" name="Lugar" placeholder="Nombre del lugar...">
                    </div>

                    <div class="mb-3">
                        <label for="Propina" class="form-label">Propina</label>
                        <span class="d-flex align-items-center gap-2">
                            <input type="number" class="form-control" id="Propina" name="Propina" placeholder="10" style="width: 80px;"> %
                         </span>
                    </div>

                    <div class="mb-3">
                        <label for="AdicionalInfo" class="form-label">Notas Adicionales</label>
                        <textarea class="form-control" id="AdicionalInfo" name="AdicionalInfo" rows="3"></textarea>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="bi bi-save me-2"></i>Guardar
                        </button>
                        <button type="reset" class="btn btn-outline-secondary">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
